.projects-com {
  width: 100%;
  min-height: 100vh;
  background: rgb(226, 252, 229);
  animation: fadeIn 1s forwards;
  border-radius: 16px;
  font-family: "Kodchasan", sans-serif;
  display: flex;
  flex-direction: column;
  padding-top: 6%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.projects-header {
  background: rgb(226, 252, 229);
  margin-bottom: 2%;
}

.projects-header h5 {
  font-size: 2.6rem;
  background: rgb(226, 252, 229);
}

#slideshow {
  background: rgb(226, 252, 229);
  overflow: hidden;
  /* min-height: 600px; */
  width: 1000px;
  margin: 0 auto 0 auto;
}

.slide-wrapper {
  background: rgb(226, 252, 229);
  width: 5000px;
  animation: slide 26s ease infinite 2s;
  /* animation-delay: 2s; */
}

.slide-wrapper-proj1 {
  background: rgb(226, 252, 229);
  width: 5000px;
  margin-left: 0;
  opacity: 0;
  animation: fadeIn1 1s forwards;
}
@keyframes fadeIn1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slide-wrapper-proj2 {
  background: rgb(226, 252, 229);
  width: 5000px;
  margin-left: 0;
  margin-left: -1000px;
  opacity: 0;
  animation: fadeIn2 1s forwards;
}
@keyframes fadeIn2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slide-wrapper-proj3 {
  background: rgb(226, 252, 229);
  width: 5000px;
  margin-left: 0;
  margin-left: -2000px;
  opacity: 0;
  animation: fadeIn3 1s forwards;
}

@keyframes fadeIn3 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slide-wrapper-proj4 {
  background: rgb(226, 252, 229);
  width: 5000px;
  margin-left: 0;
  margin-left: -3000px;
  opacity: 0;
  animation: fadeIn4 1s forwards;
}

@keyframes fadeIn4 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slide-wrapper-proj5 {
  background: rgb(226, 252, 229);
  width: 5000px;
  margin-left: -4000px;
  opacity: 0;
  animation: fadeIn5 1s forwards;
}
@keyframes fadeIn5 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slide {
  float: left;
  /* min-height: 600px; */
  width: 1000px;
  background: rgb(226, 252, 229);
}
/*   
  .slide:nth-child(1) {
    background: #D93B65;
  }
  
  .slide:nth-child(2) {
    background: #037E8C;
  }
  
  .slide:nth-child(3) {
    background: #36BF66;
  }
  
  .slide:nth-child(4) {
    background: #D9D055;
  } */

@keyframes slide {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: -1000px;
  }
  40% {
    margin-left: -2000px;
  }
  60% {
    margin-left: -3000px;
  }
  80% {
    margin-left: -4000px;
  }
  95% {
    margin-left: 0px;
  }
}

.image-title,
.image-title p {
  background: rgb(226, 252, 229);
  font-size: 2.2rem;
}

.image-title p {
  margin-top: 28px;
}

#projectImage {
  width: 700px;
  height: 400px;
  background: rgb(226, 252, 229);
}

.slide .dev-skills {
  background: rgb(226, 252, 229);
  width: 660px;
  margin: 0 auto;
  margin-top: 24px;
}

#malo,
#malo2,
#malo3 {
  /* display: flex; */
  /* flex-direction: row; */
  /* border: 1px solid black; */
  /* width: 660px; */
  width: 600px;
  justify-content: center;
  align-items: center;
}

/* #malo li,
#malo2 li,
#malo3 li {
  width: 50%;
  background: rgb(226, 252, 229);
} */
/* #malo li ul,
#malo2 li ul,
#malo3 li ul {
  width: 100%;
  margin-left: 20px;
  background: rgb(226, 252, 229);
} */

/* #malo li ul li,
#malo2 li ul li,
#malo3 li ul li { */
/* text-align: end; */
/* width: 100%;
} */
.slide .dev-skills li {
  width: 100%;

  background: rgb(226, 252, 229);
}

.dot-btns {
  background: rgb(226, 252, 229);
  display: flex;
  margin: 10px auto 40px auto;
  width: 300px;
  justify-content: space-between;
  position: relative;
}

.pro-btn {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 30px;
  background: rgb(97, 173, 80);
  /* border: 1px solid black; */
  /* box-shadow: green 1px 1px 10px 4px; */
}

.dot-btns .active-btn {
  position: absolute;
  background: rgb(92, 250, 78);
  box-shadow: rgb(88, 228, 76) 1px 1px 10px 6px;
  left: 0;
  opacity: 1;
  animation: newpro 26s ease infinite 2s;
}

@keyframes newpro {
  0% {
    left: 0;
    opacity: 1;
  }
  12% {
    left: 0;
    opacity: 0;
  }
  12.7% {
    left: 70px;
    opacity: 0;
  }
  13% {
    left: 70px;
    opacity: 1;
  }
  24% {
    left: 70px;
    opacity: 1;
  }
  25% {
    left: 70px;
    opacity: 0;
  }
  26% {
    left: 140px;
    opacity: 0;
  }
  27% {
    left: 140px;
    opacity: 1;
  }
  40% {
    left: 140px;
    opacity: 1;
  }
  45% {
    left: 140px;
    opacity: 0;
  }
  46% {
    left: 210px;
    opacity: 0;
  }
  47% {
    left: 210px;
    opacity: 1;
  }
  57% {
    left: 210px;
    opacity: 1;
  }
  67% {
    left: 210px;
    opacity: 0;
  }
  68% {
    left: 280px;
    opacity: 0;
  }
  69% {
    left: 280px;
    opacity: 1;
  }
  95% {
    left: 280px;
    opacity: 0;
  }
  96% {
    left: 0;
    opacity: 0;
  }
  97% {
    left: 0;
    opacity: 1;
  }
}

.dontShow {
  display: none;
}

.active {
  background: rgb(92, 250, 78);
  box-shadow: rgb(88, 228, 76) 1px 1px 10px 6px;
}
.playAgin {
  cursor: pointer;
  margin: 0 auto 40px auto;
  opacity: 0;
  animation: playbtn 1s forwards;
}

#play2 {
  width: 24px;
}

@keyframes playbtn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.playAgin,
.playAgin p,
.playAgin img {
  background: rgb(226, 252, 229);
}
.playAgin img {
  width: 40px;
}

.show-visible {
  animation: playbtnfadeout 1s forwards;
}
@keyframes playbtnfadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@media (max-width: 1050px) {
  .projects-com {
    overflow: hidden;
  }

  #slideshow {
    width: 800px;
    margin: 0 auto;
  }

  .slide-wrapper-proj1 {
    margin-left: 0;
  }
  .slide-wrapper-proj2 {
    margin-left: -800px;
  }
  .slide-wrapper-proj3 {
    margin-left: -1600px;
  }
  .slide-wrapper-proj4 {
    margin-left: -2400px;
  }
  .slide-wrapper-proj5 {
    margin-left: -3200px;
  }

  .slide {
    float: left;
    min-height: 600px;
    width: 800px;
    background: rgb(226, 252, 229);
  }
  #projectImage {
    width: 800px;
  }

  .slide .dev-skills {
    width: 80%;
    justify-content: flex-start;
    margin: 0;
    margin-left: 20px;
  }
  #malo li {
    width: 380px;
  }

  @keyframes slide {
    0% {
      margin-left: 0px;
    }
    20% {
      margin-left: -800px;
    }
    40% {
      margin-left: -1600px;
    }
    60% {
      margin-left: -2400px;
    }
    80% {
      margin-left: -3200px;
    }
    95% {
      margin-left: 0;
    }
  }
}

@media (max-width: 900px) {
  .projects-com .projects-header {
    margin: 60px auto 60px auto;
  }

  .projects-header h5 {
    font-size: 2rem;
  }

  .slide-wrapper-proj1 {
    margin-left: 0;
  }
  .slide-wrapper-proj2 {
    margin-left: -600px;
  }
  .slide-wrapper-proj3 {
    margin-left: -1200px;
  }
  .slide-wrapper-proj4 {
    margin-left: -1800px;
  }
  .slide-wrapper-proj4 {
    margin-left: -2400px;
  }

  #slideshow {
    width: 600px;
    margin: 0 auto;
  }
  .slide {
    float: left;
    /* min-height: 600px; */
    width: 600px;
    background: rgb(226, 252, 229);
  }
  #projectImage {
    width: 600px;
    height: 360px;
  }

  .slide .dev-skills {
    width: 100%;

    margin-top: 30px;
  }
  /* #malo ul {
    width: 38%;
  } */

  #malo,
  #malo2,
  #malo3 {
    width: 100%;
  }

  #malo li,
  #malo2 li,
  #malo3 li {
    width: 46%;
  }

  #malo li ul li,
  #malo2 li ul li,
  #malo3 li ul li {
    /* width: 50%; */
    font-size: 1.5rem;
  }

  @keyframes slide {
    0% {
      margin-left: 0;
    }
    20% {
      margin-left: -600px;
    }
    40% {
      margin-left: -1200px;
    }
    60% {
      margin-left: -1800px;
    }
    80% {
      margin-left: -2400px;
    }
    95% {
      margin-left: 0px;
    }
  }

  .dot-btns {
    margin-top: 0;
  }

  .dot-btns .pro-btn {
    height: 16px;
    width: 16px;
  }
}

@media (max-width: 650px) {
  #slideshow {
    width: 500px;
    margin: 0 auto;
  }

  .slide-wrapper {
    animation: slide 20s ease infinite 2s;
  }
  .slide {
    float: left;
    /* min-height: 600px; */
    width: 500px;
    background: rgb(226, 252, 229);
  }
  #projectImage {
    width: 500px;
    height: 320px;
  }

  .slide .dev-skills {
    width: 100%;
    margin-top: 30px;
  }

  .slide-wrapper-proj1 {
    margin-left: 0;
  }
  .slide-wrapper-proj2 {
    margin-left: -500px;
  }
  .slide-wrapper-proj3 {
    margin-left: -1000px;
  }
  .slide-wrapper-proj4 {
    margin-left: -1500px;
  }

  @keyframes slide {
    0% {
      margin-left: 0px;
    }
    20% {
      margin-left: -500px;
    }
    40% {
      margin-left: -1000px;
    }
    60% {
      margin-left: -1500px;
    }
    80% {
      margin-left: -2000px;
    }
    95% {
      margin-left: 0px;
    }
  }
  /* 
  .dot-btns {
    margin-top: 40px;
  }

  .dot-btns .pro-btn {
    height: 16px;
    width: 16px;
  } */
}

@media (max-width: 550px) {
  #slideshow {
    width: 90%;
  }

  .slide-wrapper,
  .slide-wrapper-proj1,
  .slide-wrapper-proj2,
  .slide-wrapper-proj3,
  .slide-wrapper-proj4,
  .slide-wrapper-proj5 {
    width: 100%;
    animation: none;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    opacity: 1;
  }
  .image-title {
    width: 100%;
    margin: 0 auto;
  }
  #projectImage {
    width: 100%;
    height: 240px;
    background: rgb(226, 252, 229);
  }
  .slide {
    width: 100%;
    margin: 0 auto;
    height: auto;
  }

  #malo,
  #malo2,
  #malo3 {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 10px 0 60px 0;
    list-style-type: none;
  }

  .dev-skills,
  #malo li,
  #malo2 li,
  #malo3 li {
    width: 100%;
  }

  .dot-btns,
  .playAgin {
    display: none;
  }
}

/* #movie-knight {
  width: 50px;
  height: 50px;
} */
