.skills-com{
    width: 100%;
    height: 100vh;
    background: #f8f8e6;
    animation: fadeIn 1s forwards;
    border-radius: 16px;


}
div {
    background: #f8f8e6;}


h3 {
    background: #f8f8e6;
}

img {
    width: 40px;
}

@keyframes fadeIn {
    from {opacity: 0;
    }
    to {opacity: 1;}
  }

