.skills-com {
  width: 100%;
  min-height: 100vh;
  background: #f8f8e6;
  animation: fadeIn 1s forwards;
  border-radius: 16px;
  font-family: "Kodchasan", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
}

ul li {
  font-size: 1.8rem;
  background: #f8f8e6;
  margin-left: 18px;
  padding-bottom: 10px;
}

.skills-com div {
  width: 90%;
  background: #f8f8e6;
}

.skills-com h3 {
  background: #f8f8e6;
  text-align: center;
  font-size: 3.2rem;
}

.higher-ed {
  padding-top: 6%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.higher-ed h5 {
  font-size: 2rem;
  background: #f8f8e6;
  padding-bottom: 20px;
}

.higher-ed ul {
  background: #f8f8e6;
  display: flex;
  align-items: center;
}

.tech-skills-h5 {
  background: #f8f8e6;
  font-size: 2rem;
  width: 90%;
  padding-top: 4%;
  text-align: start;
}

.skills-com .full-stack {
  padding-top: 3%;
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skills-com .full-stack .dev-skills {
  /* margin-left: 6%; */
  display: flex;
  background: #f8f8e6;
  flex-wrap: wrap;
  width: 100%;
}

.dev-skills .deployment {
  background: #f8f8e6;
  width: 100%;
}

.deployment ul {
  background: #f8f8e6;
}

.dev-skills li {
  background: #f8f8e6;
  margin: 10px;
  width: 30%;
  text-align: start;

  /* font-size: 1.8rem; */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ******************************** Media **************************** */

@media (max-width: 900px) {
  .skills-com .full-stack {
    width: 96%;
    justify-content: space-evenly;
  }

  .dev-skills {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .skills-com .full-stack .dev-skills {
    width: 80%;
  }

  .full-stack .dev-skills li {
    margin-left: 10px;
    width: 42%;
    font-size: 1.6rem;
  }

  .higher-ed ul li {
    text-align: start;
  }
}

@media (max-width: 550px) {
  .skills-com div h3 {
    font-size: 2rem;
  }
  .higher-ed h5 {
    font-size: 1.6rem;
    padding-bottom: 10px;
  }

  .higher-ed .graduate {
    font-size: 14px;
  }
  .higher-ed ul li {
    font-size: 1.6rem;
  }
  .full-stack .skills-box {
    width: 90%;
  }

  .full-stack .dev-skills li {
    width: 100%;
  }
}
