.contactme-com {
  width: 100%;
  height: 100vh;
  background: rgb(234, 244, 255);
  animation: fadeIn 1s forwards;
  border-radius: 16px;
  font-size: 3rem;
  font-family: "Kodchasan", sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.contact-links-dev,
.contact-links-dev p,
.contact-links-dev .links,
.github-linkedin,
.contactme-com h4,
.contactme-com .send-me-mail,
.contactme-com form .field,
.contactme-com form {
  background: rgb(234, 244, 255);
}

.contact-links-dev {
  padding: 6%;
}

.contact-links-dev h5 {
  font-size: 2.4rem;
}

.contact-links-dev .links {
  display: flex;
  width: 52%;
  align-items: center;
  margin-top: 2%;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.github-linkedin {
  display: flex;
  align-items: center;
  background: rgb(234, 244, 255);
}

.github-linkedin:nth-child(2) {
  margin-left: 60px;
}

.github-linkedin a,
.github-linkedin img {
  background: rgb(234, 244, 255);
}
.github-linkedin a {
  font-size: 2.4rem;
  margin-right: 10px;
}

.contactme-com .send-me-mail h4 {
  width: 46%;
  text-align: start;
  margin: 0 auto;
  font-size: 2rem;
}
.contactme-com .send-me-mail {
  display: flex;
  flex-direction: column;
}
.contactme-com .send-me-mail form {
  width: 46%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.contactme-com form .field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  background: rgb(234, 244, 255);
}
.contactme-com form .field p {
  text-align: start;
  background: rgb(234, 244, 255);
  color: red;
  font-size: 1.6rem;
}
.contactme-com form .field input {
  width: 200px;
  height: 40px;
  outline: none;
  border: 1px solid rgb(14, 47, 78);
  border-radius: 2px;
  font-size: 1.8rem;
  padding-left: 10px;
  background: rgb(253, 253, 241);
  box-shadow: 1px 1px 10px 2px lightgrey;
}

.contactme-com form textarea {
  border: 1px solid rgb(14, 47, 78);
  width: 600px;
  height: 200px;
  font-size: 2.2rem;
  padding-left: 10px;
  padding-top: 4px;
  background: rgb(253, 253, 241);
  border-radius: 2px;
  box-shadow: 1px 1px 10px 2px lightgrey;
}

#submit {
  font-size: 1.8rem;
  margin: 20px auto;
  width: 180px;
  height: 40px;
  outline: none;
  border: 1px solid rgb(14, 47, 78);
  border-radius: 2px;
  background: #8dc5df;
  box-shadow: 1px 1px 10px 4px lightgrey;
}

.contactme-com .thank-you-msg {
  background: rgb(234, 244, 255);
  font-size: 1.8rem;
  color: green;
  margin: 0 auto;
}

.contactme-com .loading {
  color: red;
}

/* ******************************************* media **************************** */

@media (max-width: 1080px) {
  .contact-links-dev .links {
    width: 82%;
    /* justify-content: space-between; */
  }
  .contactme-com .send-me-mail {
    width: 90%;
    margin: 0 auto;
  }
  .contactme-com .send-me-mail h4 {
    width: 80%;
  }

  .contactme-com .send-me-mail form {
    width: 80%;
    /* justify-content: center; */
    align-items: flex-start;
    justify-content: flex-start;
  }

  #message {
    width: 100%;
  }

  #submit {
    width: 610px;
    margin: 20px 0 0 0;
  }
}

@media (max-width: 800px) {
  .contact-links-dev .links {
    width: 90%;
  }
  .github-linkedin a {
    font-size: 1.8rem;
  }

  .contactme-com .send-me-mail h4 {
    width: 90%;
    margin: 0 auto;
  }

  .contactme-com .send-me-mail form {
    width: 90%;
  }

  #message textarea {
    width: 100%;
  }
  #submit {
    width: 100%;
  }
}

@media (max-width: 600px) {
  #message textarea {
    height: 180px;
  }
}

@media (max-width: 450px) {
  .contact-links-dev .links a {
    margin: 0;
  }
  .contact-links-dev .links {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
  }
  .contactme-com .send-me-mail form .field {
    width: 80%;
  }
  .contactme-com .send-me-mail form .field input {
    height: 34px;
    width: 100%;
  }
  #message textarea {
    height: 140px;
  }
}

@media (max-width: 340px) {
  .github-linkedin:nth-child(2) {
    margin: 0;
  }

  .contact-links-dev .links {
    justify-content: space-between;
  }
}
